[Unit]
Description=Edge Daemon Service

[Service]
EnvironmentFile={{ edge_main_dir }}/edge/.env
WorkingDirectory={{ edge_main_dir}}/edge
ExecStart={{ edge_binary_install_dir }}/edgeurid daemon --repo=${REPO}
Restart=on-failure
RestartSec=5
User=estuary
Group=estuary

[Install]
WantedBy=multi-user.target
